@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$primary_font:'Open Sans', sans-serif;
$loo_w:#ffffff;
$loo_blk:#666666;
$loo_red:#eb3333;
$f-xs:14px;



*{
	margin: 0;
	padding: 0;
}
body {
	background: url("../img/bg.jpg");
	font-family:$primary_font;
	color:$loo_blk;
	// font-size:$f-xs;
}
.btn-theme{
	padding: 2px;
    border-radius: 45px;
    background: transparent;
    font-size: 14px;
    border: 2px $loo_red solid;
    font-weight: 900;
    text-transform: uppercase;
}
.btn-theme-fill{
   border-radius: 45px;
    background: #eb3333;
    font-size: 15px;
    font-weight: 900;
    padding: 12px 35px;
    text-transform: uppercase;
    color:$loo_w;
}
main{
	margin-bottom:75px;
}
._cnt-white{
	color:$loo_w !important;
	&:hover{
		color:$loo_red !important;
	}
}
/* Menu */
._loocust-nav .navbar{
	padding: 25px 5% !important;

	li
	{ 
		a
		{
			color: #fff;
			span
			{
				text-decoration: none;
				position: relative;
				display: inline-block;
				
			}
		}
		&:hover {
			span{
				&:after
				{
					content: "";

					position: absolute;
					bottom: 0;
					left: 0;
					border-top: 2px solid red;
					height: 45%;
					/* adjust as necessary, depending on line thickness */
					/* or use calc() if you don't need to support IE8: */
					height: calc(50% - 1px);
					/* 1px = half the line thickness */
					width: 120%;
					// transform: rotateZ(-4deg);
					transition: width .2s;
				}
			}
		}
		
	}
}

/* Menu End */

.strick {
	width: 70px;
	border-radius: 30px;
	margin-bottom: 20px;
	border-bottom: 4px $loo_red solid;

}
._about_sec{
	padding-top: 75px;
}

/* product */
._prod_div
{
	background:$loo_w;
	padding: 0px 3%;

	.navbar .navbar-nav 
	{
		li
		{
			.nav-link
			{
				font-size: 14px;
				margin: 0px 10px;
				color:$loo_blk;

				&:hover, &:active
				{
					color:$loo_red;
				}
			}
			&.active .nav-link
			{
				color:$loo_red;
			}
&.active .nav-link._cnt-white{
	color:$loo_red !important;
}
		}

	}
	/* Slider tab*/
	.tabbable
	{
		padding-top:3%;
		padding-bottom:25px;

		.nav.nav-tabs {
			float: left;
			display: block;
			margin-right: 10px;
			border: 0;			
		

			 &:before{
  content:" "; /* with class ModalCarrot ??*/
  background:url(../img/zz.svg);
     background-size: 10px 20px;
    display: inline-block;
    width: 20px; 
    height: 26px;

}

			li{
				display: flex;
				&.active, &:hover, &:active{
					span{
						    visibility: visible;
					}
					}
					a{
					align-items: center;
				    display: inline-flex;
				    color: $loo_blk;
				    font-size:13px;
    font-weight: 700;
    text-decoration: none;
				    embed{
				    	    height: 5rem;
				    	        margin-right: 10px;
				    }
				    span{
				    	visibility:hidden;
				    }
				}
			}
		}
	}

	/* Slider tab End*/
}
/* product cnt */
._prod_cnt
{

	h3
	{
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	p
	{
		padding-top: 10px;
		font-size:$f-xs;
	}
	.btn-prod {
	img{
width:34px;
	}
	&:hover{
 img{
 	-webkit-animation: rotation 2s infinite linear;

 }
.more-cnt{
	color:$loo_red;
	}
}
}
	&._cnt-white
	{
		h3
		{
			color:$loo_w;
		}
		p
		{
			color:$loo_w;
		}
		.more-cnt{
				color:$loo_w;

		}
	}
}
.more-cnt{
    padding: 0px 15px;
}
li{

&.active{
	
}
.zip{
	width:20px;
}
}
._social_icon {

    padding-bottom: 25px;
    text-align: right;
	i{
	    font-size: 15px;
    padding: 9px;
    border: 1px $loo_blk solid;
    min-width: 35px;
    min-height: 35px;
    text-align: center;
    margin-left: 8px;
    border-radius: 50px;
    color:$loo_blk;
&:hover{
color:$loo_red;
border: 1px $loo_red solid;
}
}
}
/* product cnt */

/* product */

footer{
	    
        background: #2a8153;
        .subscribe-info{
        	   padding: 30px 20px;
    border-bottom: 1px #fff solid;
        	    .wwa, .wwa a{
    text-transform: uppercase;
    color: #fff;
    margin-bottom:0;
        	    }
        }
        .addr-info{
        	 padding: 20px;
        	 text-align:center;
        	 color:#fff;
        	 a {
 color:#fff;
        	 
        	 &:hover{

        	 	}}
        }
}


#Womens{
	background: url("../img/bg-w.jpg");
    background-size: cover;
}









/* Zip Svg control */
 .rec_clr{ 
      fill:#d6d6d6;
      width: 12.4px;
      height: 43.2px;
   &.active{
         fill:$loo_red;
      }
  }
     
      .zippy{
      	display:none;
   path,rect{
  fill:$loo_red;
   }
      }
      

/* Zip Svg control */

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}












@import 'responsive';